/* ===============================
   HEADER LOGO
=============================== */
.header-logo {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.admin-logo img {
  width: 100px;
  object-fit: contain;
}


.header-logo h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: #0b8434;
}