/* ===============================
   MODALS
=============================== */
.modal-content {
  border-radius: 16px;
  overflow: hidden;
  animation: modalFade 0.35s ease;
}

@keyframes modalFade {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}